<div class="mb-4">
  <div class="font-medium mb-2">{{ question.text }}</div>
  <div class="flex space-x-4">
    <label class="flex items-center space-x-2">
      <input type="radio" name="question_{{ question.id }}" value="True" class="form-radio text-blue-600" data-correct="{{ question.correct_answer }}">
      <span>True</span>
    </label>
    <label class="flex items-center space-x-2">
      <input type="radio" name="question_{{ question.id }}" value="False" class="form-radio text-blue-600">
      <span>False</span>
    </label>
  </div>
</div> 